@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'pacifico';
    src: url('/Pacifico-Regular.ttf');
}
@font-face {
    font-family: 'grotesk';
    src: url('/SpaceGrotesk-VariableFont_wght.ttf');
}

body{
    @apply bg-gradient-to-r from-[#141E30] to-[#243B55] text-[#ebebeb];
}
.mainContainer{
    @apply h-dvh grid grid-rows-[1fr_150px];
}
.display{
    @apply font-grotesk font-bold text-[190px] flex justify-center items-center;
}
.glass{
    @apply border w-[800px] py-[100px] rounded-xl text-center;
}
.controls{
    @apply flex justify-center items-center;
}
.boxControls{
    @apply flex justify-center items-center gap-2 border border-b-0 rounded-t-xl px-[70px] h-full;
}
.btn{
    @apply text-xl border border-white/10 text-white p-2 rounded-full;
}
.playBtn{
    @apply !text-3xl bg-blue-600;
}
.sidebar{
    @apply w-[300px] h-full flex justify-center items-center fixed top-0 right-0 border border-dashed border-white/50;
}