@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'pacifico';
    src: url('/Pacifico-Regular.ttf');
}
@font-face {
    font-family: 'grotesk';
    src: url('/SpaceGrotesk-VariableFont_wght.ttf');
}

body{
    @apply bg-gradient-to-r from-[#141E30] to-[#243B55] text-secondColor;
}
.mainContainer{
    @apply h-dvh ;
}
.title{
    @apply mx-auto font-pacifico mt-5;
}
.timer{
    @apply font-pacifico text-[190px];
}
.containerButtons{
    @apply flex justify-center items-center gap-2;
}
.btn{
    @apply text-xl border border-white/10 text-white p-2 rounded-full;
}
.playBtn{
    @apply !text-3xl bg-blue-600;
}